<!DOCTYPE html>
<!--
{% macro pagination(url, page) %}
    <ul class="uk-pagination">
        {% if page.has_prev %}
            <li><a href="{{ url }}{{ page.page_index - 1 }}"><i class="uk-icon-angle-double-left"></i></a></li>
        {% else %}
            <li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
        {% endif %}
            <li class="uk-active"><span>{{ page.page_index }}</span></li>
        {% if page.has_next %}
            <li><a href="{{ url }}{{ page.page_index + 1 }}"><i class="uk-icon-angle-double-right"></i></a></li>
        {% else %}
            <li class="uk-disabled"><span><i class="uk-icon-angle-double-right"></i></span></li>
        {% endif %}
    </ul>
{% endmacro %}
-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block meta %}{% endblock %}
    <title>{% block title %} ? {% endblock %} - Awesome Python Blog</title>
    <link rel="stylesheet" type="text/css" href="/static/css/semantic.css">
    <link rel="stylesheet" type="text/css" href="/static/css/awesome.css">

    <script src="/static/js/jquery-3.2.1.js"></script>
    <script src="/static/js/semantic.js"></script>
    <script src="/static/js/sha256.js"></script>
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/awesome.js"></script>

    <style>

        .main.container {
            margin-top: 7em;
        }

        .ui.footer.segment {
            margin: 5em 0em 0em;
            padding: 5em 0em;
        }
    </style>
    {% block beforehead %} {% endblock %}
</head>
<body>

    <div class="ui inverted fixed massive menu">
        <div class="ui container">
            <a href="/" class="item"> Awesome Blog </a>
            <a href="/" class="active item">日志</a>
            <a href="#" class="item">教程</a>
            <a href="#" class="item">源码</a>

            <div class="right menu">
                {% if __user__ %}
                    <a class="item">{{ __user__.name }}</a>
                    {% if __user__.admin %}
                        <a href="/manage/blog" class="item">管理</a>
                    {% endif %}
                    <a href="/logout" class="item">登出</a>
                {% else %}
                    <a href="/signin" class="item"> 登录</a>
                    <a href="/register" class="item">注册</a>
                {% endif %}

            </div>
        </div>
    </div>


    <div class="ui main container">
        <div class="ui grid">
            <div class="ui diving right rail">
                <div class="ui sticky center">
                    <img class="ui circular image" src="{{ web_meta.logo }}">
                    <h4>{{ web_meta.web_name }}</h4>
                    <p>{{ web_meta.welcome_message }}</p>
                </div>
            </div>
            {% block content %} {% endblock %}

        </div>
    </div>

    <div class="ui inverted vertical footer segment">
        <div class="ui center aligned container">
            <div class="ui container">
                <p>
                    <a target="_blank" href="#"><i class="large weibo icon"></i></a>
                    <a target="_blank" href="#"><i class="large github icon"></i></a>
                    <a target="_blank" href="#"><i class="large linkedin icon"></i></a>
                    <a target="_blank" href="#"><i class="large twitter icon"></i></a>
                </p>
                <p>Powered by <a href="#">Awesome Python Blog</a>. Copyright &copy; 2017. </p>
                <p><a href="http://www.xpath.org" target="_blank">www.xpath.org</a>. All rights reserved. </p>
                <a target="_blank" href="http://www.w3.org/TR/html5/"><i class="huge html5 icon"></i> </a>
            </div>
        </div>
    </div>
</body>
</html>