<!DOCTYPE html>

{% macro pagination(url, page) %}
    <div class="ui pagination menu">
        {% if page.has_prev %}
            <a class="item" href="{{ url }}{{ page.page_index - 1 }}"><i class="angle double left icon"></i></a>
        {% else %}
            <a class="disabled item"><i class="angle double left icon"></i></a>
        {% endif %}


        {% if page.page_index == 1 %}
            <a class="disabled item">1</a>
        {% else %}
            <a class="item" href="{{ url }}{{ 1 }}">1</a>
        {% endif %}

        {% if page.page_list %}
            {% if page.page_list[0] > 2 %}
                <a class="disabled item">...</a>
            {% endif %}

            {% for pl in page.page_list %}
                {% if pl == page.page_index %}
                    <a class="disabled item">{{ page.page_index }}</a>
                {% else %}
                    <a class="item" href="{{ url }}{{ pl }}">{{ pl }}</a>
                {% endif %}
            {% endfor %}

            {% if page.page_list[-1] < (page.page_count-1) %}                
                <a class="disabled item">...</a>
            {% endif %}
        {% endif %}

        {% if page.page_count > 1 %}
            {% if page.page_index == page.page_count %}
                    <a class="disabled item">{{ page.page_index }}</a>
            {% else %}
                <a class="item" href="{{ url }}{{ page.page_count }}">{{ page.page_count }}</a>
            {% endif %}
        {% endif %}

        {% if page.has_next %}
            <a class="item" href="{{ url }}{{ page.page_index + 1 }}"><i class="angle double right icon"></i></a>
        {% else %}
            <a class="disabled item"><i class="angle double right icon"></i></a>
        {% endif %}
    </div>
{% endmacro %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block meta %}{% endblock %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>{% block title %} ? {% endblock %} - Awesome Python Blog</title>
    <link rel="icon" type="image/png" href="/static/img/viagle1.png">
    <link rel="stylesheet" type="text/css" href="/static/css/semantic.css">
    <link rel="stylesheet" type="text/css" href="/static/css/awesome.css">

    <script src="/static/js/jquery-3.2.1.js"></script>
    <script src="/static/js/semantic.js"></script>
    <script src="/static/js/sha256.js"></script>
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/awesome.js"></script>

    <style>

        .main.container {
            padding-top: 7em;
            padding-bottom: 5em;

            min-height: 100%;

            /* Equal to height of footer */
            /* But also accounting for potential margin-bottom of last child */
            margin-bottom: -261px;
        }

        .ui.footer.segment, .push {
            height: 261px;
            padding: 5em 0em;
        }
    </style>
    {% block beforehead %} {% endblock %}
</head>
<body>
    <div id="sidebar-menu" class="ui sidebar inverted vertical menu">
        <a href="/" class="item"> Awesome Blog </a>
        <a target="_blank" href="https://github.com/i-sync/python-awesome-web" class="item">源码</a>
        <a target="_blank" href="https://www.liaoxuefeng.com/wiki/0014316089557264a6b348958f449949df42a6d3a2e542c000" class="item">Python3教程</a>
        <a href="/about" class="item">关于</a>
        {% if __user__ %}
            <a class="item" href="/user/{{__user__.id}}">{{ __user__.name }}</a>
            {% if __user__.admin %}
                <a href="/manage/blogs" class="item">管理</a>
            {% endif %}
            <a href="/signout" class="item">登出</a>
        {% else %}
            <a href="/signin" class="item"> 登录</a>
            <a href="/register" class="item">注册</a>
        {% endif %}
    </div>
    <div class="pusher">
        <div id="main-menu" class="ui inverted fixed massive menu">
            <div class="ui container">
                <a href="/" class="item"> Awesome Blog </a>
                <a href="/" class="item">博客</a>
                <a target="_blank" href="https://github.com/i-sync/python-awesome-web" class="item">源码</a>
                <a target="_blank" href="https://www.liaoxuefeng.com/wiki/0014316089557264a6b348958f449949df42a6d3a2e542c000" class="item">Python3教程</a>
                <a href="/about" class="item">关于</a>

                <div class="right menu">
                    {% if __user__ %}
                        <a class="item" href="/user/{{__user__.id}}">{{ __user__.name }}</a>
                        {% if __user__.admin %}
                            <a href="/manage/blogs" class="item">管理</a>
                        {% endif %}
                        <a href="/signout" class="item">登出</a>
                    {% else %}
                        <a href="/signin" class="item"> 登录</a>
                        <a href="/register" class="item">注册</a>
                    {% endif %}

                </div>
            </div>
        </div>
        <div id="sidebar-button" class="ui inverted icon menu">
            <a class="item">
                <i class="sidebar large icon"></i>
            </a>
        </div>


        <div class="ui main container">
            {% block content %} {% endblock %}
            <div class="push"></div>
        </div>

        <div class="ui inverted vertical footer segment">
            <div class="ui center aligned container">
                <div class="ui container">
                    <p>
                        <a target="_blank" href="https://weibo.com/synchronise"><i class="large weibo icon"></i></a>
                        <a target="_blank" href="https://github.com/i-sync"><i class="large github icon"></i></a>
                        <a target="_blank" href="https://twitter.com/asynchronize"><i class="large twitter icon"></i></a>
                    </p>
                    <p>Powered by <a href="#">Awesome Python Blog</a>. Copyright &copy; <script>document.write(new Date().getFullYear())</script>. </p>
                    <p><a href="https://www.viagle.cn" target="_blank">www.viagle.cn</a>. All rights reserved. </p>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function(){
            $('.ui.sidebar').sidebar('setting', {
                transition: 'overlay'
            }).sidebar('attach events', '#sidebar-button');
        });
    </script>
</body>
</html>