{% extends '__base__.html' %}

{% block title %} {{ blog.name }} {% endblock %}

{% block beforehead %}
<script>
    var comment_url = '/api/blogs/{{ blog.id }}/comments';

    $(function(){
        var $form = $('#form-comment');
        $form.submit(function(e){
            e.preventDefault();
            $form.showFormError('');
            var content = $form.find('textarea').val().trim();
            if(content === ''){
                return $form.showFormError({message:'请输入评论内容！', data:'content'});
            }
            $form.postJSON(comment_url, {content : content}, function(err, result){
                if(err){
                    return $form.showFormError(err);
                }
                refresh();
            });
        })
    })
</script>
{% endblock %}

{% block content %}

    <div class="ui container">
        <!--iv class="ui text container"-->
        <h2>{{ blog.name }}</h2>
        <span class="ui metadata">
            由<a href="/user/{{blog.user_id}}">{{blog.user_name}}</a> 发表于 {{ blog.created_at|datetime|safe }} |
            文章分类:<a href="/category/{{blog.category_id}}">{{blog.category_name}}</a> |
            <i class="unhide icon"></i> {{blog.view_count}} 次阅读 |
            <i class="comment icon"></i> {{ comments | length }} 条评论
        </span>
        <div class="ui hidden divider"></div>

        <p>{{ blog.html_content | safe }}</p>
        <!--/div-->

        {% if __user__ %}
        <h3 class="ui dividing header">发表评论</h3>
        
        <h4 class="ui header">
            <img class="ui image" src="{{ __user__.image }}">
            <div class="content">
                {{__user__.name}}
            </div>
        </h4>

         <form  id="form-comment" class="ui reply form">
            <div class="field">
                <textarea name="content"></textarea>
            </div>
            <button type="submit" class="ui blue labeled submit icon button">
                <i class="icon edit"></i> 发表评论
            </button>

            <div class="ui error message"><ul class="list"><li>Special Field must have a value</li></ul></div>
        </form>
        
        {% endif %}

        <div class="ui comments">
            
            <h3 class="ui dividing header">最新评论</h3>


            {% for comment in comments %}
            <div class="comment">
                <a class="avatar">
                    <img src="{{ comment.user_image }}">
                </a>
                <div class="content" id="{{comment.id}}">
                    <a class="author">{{ comment.user_name }} {% if comment.user_id == blog.user_id %}(作者){% endif %}</a>
                    <div class="metadata">
                        <span class="date">{{ comment.created_at|datetime|safe }}</span>
                    </div>
                    <div class="text">
                        {{ comment.html_content|safe }}
                    </div>
                    <!--div class="actions">
                        <a class="reply">Reply</a>
                    </div-->
                </div>
            </div>
            {% else %}
            <p>还没有人评论，抢个沙发吧...</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}