{% extends '__base__.html' %}

{% block title %} 分类 {% endblock %}

{% block content %}

    <div class="ui container">
         <h2 class="ui dividing header">分类: {{category.name}}</h2>

        {% for blog in blogs %}
            <article>
                <h2><a href="/blog/{{ blog.id }}">{{ blog.name }}</a> </h2>
                <span class="ui metadata">
                    由<a href="/user/{{blog.user_id}}">{{blog.user_name}}</a> 发表于 {{ blog.created_at|datetime|safe }} |
                    文章分类:<a href="/category/{{blog.category_id}}">{{blog.category_name}}</a> |
                    <i class="unhide icon"></i> {{blog.view_count}} 次阅读 |
                    {% if web_meta.use_disqus %}
                        <i class="comment icon"></i> <span class="disqus-comment-count" data-disqus-identifier="{{ blog.id }}">评论数</span>
                    {% else %}
                        <i class="comment icon"></i> {{blog.comments_count}} 条评论
                    {% endif %}
                </span>
                <div class="ui hidden divider"></div>

                {{ blog.html_summary | safe }}

                <div class="ui hidden divider"></div>

                <p><a class="ui primary button" href="/blog/{{ blog.id }}">继续阅读 </a> </p>
            </article>
            <div class="ui section divider"></div>
        {% endfor %}

        {{ pagination('?page=', page) }}
    
    </div>
    {% if web_meta.use_disqus %}
        <script id="dsq-count-scr" src="//awesome-blog-1.disqus.com/count.js" async></script>
    {% endif %}
{% endblock %}