{% extends '__base__.html' %}

{% block title %}评论{% endblock %}

{% block beforehead %}

<script>
    function initVM(data){
        $('#vm').show();
        var vm = new Vue({
            delimiters: ['${', '}'],
            el: '#vm',
            data: {
                comments: data.comments,
                page: data.page
            },
            methods: {
                delete_comment: function(comment){
                    var content = comment.content.length > 20 ? comment.content.substring(0, 20) + '...' : comment.content;
                    if(confirm('确认要删除评论"'+ content +'"？ 删除后不可恢复！')){
                        postJSON('/api/comments/'+ comment.id +'/delete', function(err, result){
                            if(err){
                                return error(err);
                            }
                            refresh();
                        });
                    }
                }
            }
        });
    }

    $(function(){
        getJSON('/api/comments', {
            page: {{ page_index }}
        }, function(err, result){
            if(err) {
                return fatal(err);
            }
            $('#loading').hide();
            initVM(result);
        });
    })
</script>

{% endblock %}

{% block content %}

     <div class="ui secondary menu">
        <a class="item active">评论</a>
        <a class="item" href="/manage/blogs">日志</a>
        <a class="item" href="/manage/users">用户</a>
        <a class="item" href="/manage/categories">类别</a>
    </div>

    <div id="error" class="uk-width-1-1"></div>

    <div id="loading" class="uk-width-1-1 uk-text-center">
        <span><i class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i> 正在加载... </span>
    </div>

    <div id="vm" class="ui container">
        <table class="ui celled table">
            <thead>
                <tr>
                    <th class="two wide">作者</th>
                    <th class="nine wide">内容</th>
                    <th class="three wide">创建时间</th>
                    <th class="two wide">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="comment in comments">
                    <td>
                        <a target="_blank" v-bind:href="'/user/'+ comment.user_id"> <span>${comment.user_name}</span></a>
                    </td>
                    <td>
                        <a target="_blank" v-bind:href="'/blog/'+ comment.blog_id + '#' + comment.id"> <span>${comment.content}</span></a>
                    </td>
                    <td>
                        <span>${comment.created_at.toDateTime()}</span>
                    </td>
                    <td>
                        <a href="#0" v-on:click="delete_comment(comment)"><i class="trash icon"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>

        <!--div v-component="pagination" v-with="page"></div-->
        
        <div is="vc-pagination" v-bind:p="page"></div>
    </div>

{% endblock %}