{% extends '__manage_base__.html' %}

{% block title %}编辑类别{% endblock %}

{% block beforehead %}

<script>
    var ID = '{{ id }}';
    var action = '{{ action }}';
    function initVM(category){
        var vm = new Vue({
            el: '#vm',
            data: category,
            methods: {
                submit: function (event){
                    event.preventDefault();
                    var $form = $('#vm');
                    $form.postJSON(action, this.$data, function(err, r){
                        if(err){
                            $form.showFormError(err);
                        }
                        else {
                            //return location.assign('/api/blogs/' + r.id);
                            return location.assign('/manage/categories');
                        }
                    });
                }
            }
        });
        $('#vm').show();
    }

    $(function(){
        if(ID){
            $('#vm').addClass('loading');
            getJSON('/api/categories/' + ID, function(err, category){
                $('#vm').removeClass('loading');
                if(err){
                    return error(err);
                }
                //$('#loading').hide();
                initVM(category);
            });
        }
        else {
            $('#loading').hide();
            initVM({
                name: ''
            });
        }
    });
</script>
{% endblock %}

{% block content %}

    <div class="ui secondary pointing menu">
        <a class="item" href="/manage/comments">评论</a>
        <a class="item" href="/manage/blogs">日志</a>
        <a class="item" href="/manage/users">用户</a>
        <a class="item active">类别</a>
    </div>

    <div id="error" class="ui error hidden message"></div>

    <div class="ui segment">
        <form id="vm" v-on:submit="submit" class="ui form">
            <div class="field">
                <label>名称:</label>
                <input v-model="name" type="text" name="name" placeholder="标题">
            </div>
            <div class="field">
                <button class="ui primary button" type="submit"><i class="checkmark icon"></i>保存</button>
                <a href="/manage/categories" class="ui button"><i class="remove icon"></i>取消</a>
            </div>
            <div class="ui error message"><ul class="list"><li>Special Field must have a value</li></ul></div>
        </form>
    </div>

{% endblock %}