{% extends '__manage_base__.html' %}

{% block title %}编辑日志{% endblock %}

{% block beforehead %}

<script>
    var ID = '{{ id }}';
    var action = '{{ action }}';
    function initVM(blog){
        var vm = new Vue({
            el: '#vm',
            data: blog,
            methods: {
                submit: function (event){
                    event.preventDefault();
                    var $form = $('#vm');
                    $form.postJSON(action, this.$data, function(err, r){
                        if(err){
                            $form.showFormError(err);
                        }
                        else {
                            //return location.assign('/api/blogs/' + r.id);
                            return location.assign('/manage/blogs');
                        }
                    });
                },
                captureTab: captureTab
            }
        });
        $('#vm').show();
    }

    $(function(){
        if(ID){
            $('#vm').addClass('loading');
            getJSON('/api/blogs/' + ID, function(err, blog){
                $('#vm').removeClass('loading');
                if(err){
                    return error(err);
                }
                $('#loading').hide();
                initVM(blog);
            });
        }
        else {
            $('#loading').hide();
            initVM({
                name: '',
                summary: '',
                content: '',
                category_id:'',
            });
        }
    });
</script>
{% endblock %}

{% block content %}
    <div class="ui secondary pointing menu">
        <a class="item" href="/manage/comments">评论</a>
        <a class="item active" >日志</a>
        <a class="item" href="/manage/users">用户</a>
        <a class="item" href="/manage/categories">类别</a>
    </div>


    <div id="error" class="ui error hidden message"></div>

    <div class="ui segment">
        <form id="vm" v-on:submit="submit" class="ui form">
            <div class="field">
                <label>标题:</label>
                <input v-model="name" type="text" name="name" placeholder="标题">
            </div>
            <div class="field">
                <label>类别:</label>
                <select v-model="category_id" class="ui search dropdown">
                    <option value="">Category</option>
                    {% for category in categories %}
                    <option value="{{category.id}}">{{category.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="field">
                <label>摘要:</label>
                <textarea v-model="summary" v-on:keydown="captureTab" rows="10" name="summary" placeholder="摘要" ></textarea>
            </div>
            <div class="field">
                <label>内容:</label>
                <textarea v-model="content" v-on:keydown="captureTab" rows="40" name="content" placeholder="内容"></textarea>
            </div>
            <div class="field">
                <button class="ui primary button" type="submit"><i class="checkmark icon"></i>保存</button>
                <a href="/manage/blogs" class="ui button"><i class="remove icon"></i>取消</a>
            </div>
            <div class="ui error message"><ul class="list"><li>Special Field must have a value</li></ul></div>
        </form>
    </div>

{% endblock %}