<div class="ui container">
    <h1 class="ui dividing header red">打赏</h1>

    <div class="ui segment">
        <h5>如果您认为本文对你有很大帮助，不妨小额赞助我一下[金额您随意]，让我有动力继续写出高质量的文章。</h5>
    </div>

    <div class="ui stackable two column grid container">
        <div class="eight wide column">
            <h4 class="ui dividing header">
                <div class="content">微信</div>
            </h4>
            <div class="ui content">
                <p>请打开微信App，使用“扫一扫”付款</p>
                <img class="ui image" src="/static/img/reward_wechat.png"/>
            </div>
        </div>
        <div class="eight wide column">
            <h4 class="ui dividing header">
                <div class="content">支付宝</div>
            </h4>
            <div class="ui content">
                <p>请打开支付宝App，使用“扫一扫”付款</p>
                <img class="ui image" src="/static/img/alipay.jpg"/>
            </div>
        </div>
    </div>
</div>