<!DOCTYPE html>
<html class="uk-height-1-1" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>登录 - Awesome Python Blog</title>
    <link rel="stylesheet" type="text/css" href="/static/css/semantic.css">
    <link rel="stylesheet" type="text/css" href="/static/css/awesome.css">

    <script src="/static/js/jquery-3.2.1.js"></script>
    <script src="/static/js/semantic.js"></script>
    <script src="/static/js/sha256.js"></script>
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/awesome.js"></script>

    <style>
    body {
      background-color: #DADADA;
    }
    body > .grid {
      height: 100%;
    }
    .column {
      max-width: 450px;
    }
    </style>

    <script>

        function validation_email(email) {
            var re = /^[a-z0-9\.\-\_]+\@[a-z0-9\-\_]+(\.[a-z0-9\-\_]+){1,4}$/;
            return re.test(email.toLowerCase());
        }

        $(function () {
            var vm_auth = new Vue({
                el: '#vm',
                data: {
                    email: '',
                    password: '',
                    remember:''
                },
                methods: {
                    submit: function (event) {
                        event.preventDefault();
                        var $form = $('#vm');
                        var email = this.email.trim().toLowerCase();
                        if(!validation_email(email))
                        {
                            return $form.showFormError({message:'请输入正确的Email地址', data:'email'});
                        }
                        if(!this.password.trim())
                        {
                            return $form.showFormError({message:'请输入密码', data:'password'});
                        }
                        var data = {
                            email: email,
                            password: this.password === '' ? '' : sha256(email + ':' + this.password).toString(),
                            remember: this.remember
                        };
                        $form.postJSON('/api/authenticate', data, function (err, result) {
                            if(!err){
                                location.assign('/');
                            }
                        })
                    }
                }
            });
        });

    </script>
</head>

<body>
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui teal header">
                <div class="content">
                    Awesome Python Blog
                </div>
            </h2>

            <form id="vm" v-on:submit="submit" class="ui large form">
                <div class="ui segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input v-model="email" name="email" type="text" placeholder="Email Address" maxlength="50">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input v-model="password" name="password" type="password" placeholder="Password" maxlength="50">
                        </div>
                    </div>
                    <div class="inline field">
                        <button type="submit" class="ui large teal submit button">Login</button>
                        <div class="ui toggle checkbox right">
                            <input v-model="remember" type="checkbox" name="remember">
                            <label>记住我</label>
                        </div>
                    </div>

                    <div class="ui error message"><ul class="list"><li>Special Field must have a value</li></ul></div>
                </div>
            </form>

            <div class="ui message">
                "New to us?" <a href="/register">Sign Up</a>
            </div>
        </div>
    </div>

</body>

</html>