/*
 * custom css
 */
.ui.metadata {
  display: inline-block;
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.875em;
}

.ui.metadata > * {
  display: inline-block;
  margin: 0em 0.5em;
}

.ui.metadata > :last-child {
  margin-right: 0em;
}

.ui.grid img{
  max-width: 95% !important;
}

/* menu and sidebar*/
div#sidebar-button {
  margin-top: 0rem;
}

@media only screen and (max-width: 767px){
  div#main-menu {
    display: none !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  div#main-menu {
    display: none !important;
  }
}

@media only screen and (min-width: 992px) {
  div#sidebar-button {
    display: none !important;
  }
}