{% extends '__base__.html' %}

{% block title %} 注册 {% endblock%}

{% block beforehead %}

<script>
    function validation_email(email) {
        var re = /^[a-z0-9\.\-\_]+\@[a-z0-9\-\_]+(\.[a-z0-9\-\_]+){1,4}$/;
        return re.test(email.toLowerCase());
    }

    $(function () {
        var vm = new Vue({
            el: '#vm',
            data: {
                name: '',
                email: '',
                password1: '',
                password2: ''
            },
            methods: {
                submit: function (event) {
                    event.preventDefault();
                    var $form = $("#vm");
                    if(! this.name.trim()){
                        return $form.showFormError({message:'请输入名字', data:'name'});
                    }
                    if(! validation_email(this.email.trim().toLowerCase())){
                        return $form.showFormError({message:'请输入正确的Email地址', data:'email'});
                    }
                    if(this.password1.length < 6){
                        return $form.showFormError({message:'密码长度至少为6字符', data:'password1'});
                    }
                    if(this.password1 !== this.password2){
                        return $form.showFormError({message:'两次输入密码不一致', data:'password2'});
                    }
                    
                    var email = this.email.trim().toLowerCase();
                    $form.postJSON('/api/users',{
                        name: this.name.trim(),
                        email: email,
                        password: sha256(email + ':' + this.password1).toString()
                    }, function (err, r) {
                        if(err){
                            return $form.showFormError(err);
                        }
                        return location.assign('/');
                    });
                }
            }
        });

        $("#vm").show();
    });

</script>

{% endblock %}

{% block content %}

    <div class="ui segment">
        <h1>欢迎注册!</h1>

        <form id="vm" v-on:submit="submit" class="ui form">
            <div class="field">
                <label>名字:</label>
                <input v-model="name" type="text" name="name" maxlength="50" placeholder="名字">
            </div>
            <div class="field">
                <label>邮箱:</label>
                <input v-model="email" type="email" name="email"  maxlength="50" placeholder="邮箱">
            </div>
            <div class="field">
                <label>输入密码:</label>
                <input v-model="password1" type="password" name="password1"  maxlength="50" placeholder="输入密码">
            </div>
            <div class="field">
                <label>重复密码:</label>
                <input v-model="password2" type="password" name="password2"  maxlength="50" placeholder="重复密码">
            </div>

            <button class="ui primary button" type="submit">注册</button>

            <div class="ui error message"><ul class="list"><li>Special Field must have a value</li></ul></div>
        </form>

    </div>

{% endblock %}